.GAME {
    width: 255px;
    text-align: center;
    font-family: system-ui;
    color: white;
    margin: auto;
    font-weight: 500;

}

.GX {
    background: crimson;
    padding: 5px 0;
    margin: 5px 0;
}

.span {
    color: rgb(255, 230, 9);
}

.squer {
    width: 80px;
    height: 80px;
    background-color: crimson;
    float: left;
    margin: 2px;
    font-size: 50px;




}

.squer:hover {
    background: black;
    cursor: pointer;

}